p {
    margin: 0;
}
.section {
    padding-top: 60px;
    padding-bottom: 60px;
}
.container {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: auto;
    margin-right: auto;
}

.box {
    width: 300px;
    height: 300px;
    padding: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: aquamarine;
    margin-left: auto;
    margin-right: auto;
}
.wrap {
    position: relative;
    text-align: center;
    width: 200px;
    height: 100%;
}
.one {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
}
.two {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
}
.btn {
    display: block;
    margin-top: auto;
}
.hidden_right {
    animation-name: hidden_right;
    animation-duration: 1000ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.hidden_left {
    animation-name: hidden_left;
    animation-duration: 1000ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.move-left {
    animation-name: move-left;
    animation-duration: 1000ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.move-right {
    animation-name: move-right;
    animation-duration: 1000ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes hidden_left {
    0% {
        transform: translate(-50%, 0);
        opacity: 1;
    }
    100% {
        transform: translate(-100%, 0);
        opacity: 0;
    }
}
@keyframes hidden_right {
    0% {
        transform: translate(-50%, 0);
        opacity: 1;
    }
    100% {
        transform: translate(0%, 0);
        opacity: 0;
    }
}
@keyframes move-right {
    0% {
        transform: translate(-100%, 0);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, 0);
        opacity: 1;
    }
}
@keyframes move-left {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, 0);
        opacity: 1;
    }
}
